// Pretty sure these example classes came from the newer example of how to implement a data table.
// see my notes for that link.
// .example-container {
//     display: flex;
//     flex-direction: column;
//     min-width: 300px;
// }
// .example-header {
//     min-height: 64px;
//     padding: 8px 8px 0;
// }
.filter {
    width: 300px !important;
   }

  //  taken from https://stackoverflow.com/questions/51709280/angular-6-material-data-table-with-fixed-header-and-paginator
.table-container {
  max-height: calc(100vh - 155px); // or height: calc(100vh - 155px); depending on your need  change
  width: 100%;
  overflow: auto; // add scrollbar to the element, not the page itself, meaning you don't have to scroll all the way to bottom of 100 items to get to page control.
    // max-height: calc(100vh - 240px);
}
@media screen and (max-width: 960px) {
  .mat-table {
    border: 0;
    vertical-align: middle
  }

  .mat-table caption {
    font-size: 1em;
  }
  
  /*  Enable this to hide header
  .mat-table .mat-header-cell {
    
    border: 10px solid;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  */
  .mat-table .mat-row {
    border-bottom: 5px solid #ddd;
    display: block;
  }
  /*
  .mat-table .mat-row:nth-child(even) {background: #CCC}
  .mat-table .mat-row:nth-child(odd) {background: #FFF}
  */
  .mat-table .mat-cell {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 1em;
    text-align: right;
    font-weight: bold;
    height:30px;
    margin-bottom: 4%;
  }
  .mat-table .mat-cell:before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: normal;
    
    font-size: .85em;
  }
  .mat-table .mat-cell:last-child {
    border-bottom: 0;
  }
    .mat-table .mat-cell:first-child {
    margin-top: 4%;
  }
}